*
{
    margin:0px;
    padding: 0px;
}
p
{
    border: 2px solid brown;
}
 .p1{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin:10px;
}
.p2
{
    border-color: blue;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    margin:20px;
    padding: 20px;
}
.p3
{

    border-color: brown;
    border-style: solid;
    border-top-left-radius: 5px;
  margin:10px;
padding-top:10px;
 border-width: 10px;
 width:500px;
 height:250px;
    
} 