*
{
    margin:0px;
    padding: 0px;
}
p
{
    border: 2px solid brown;
}
 .p1{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin:10px;
}
.p2
{
    border-color: blue;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    margin:20px;
    padding: 20px;
}
.box{

    border:2px solid red;
    padding:50px;
    margin:10px;
    width:300px;
    height:300px;
    box-sizing: border-box;
   
}
span{
    border:2px solid green;
    padding:5px;
    margin:10px;
    width:300px;
    height:300px;
    display: inline-block;
}
pre{
    border:2px solid green;
    padding:5px;
    margin:10px;
    width:300px;
    height:300px; 
}