.container
{
    border:2px solid black;
    
    overflow: auto;
    display: flex;
}
img{
    width:200px;
    height:200px;
}
.box
{
    border:2px solid black;
    background-color: rgb(22, 164, 81);
    width:50%;
    margin: 2px;
    padding: 2px;
}
.box2
{
    border:2px solid black;
    background-color: coral;
    width:50%;
    margin: 2px;
    padding: 2px;
    overflow: auto;
    box-shadow: 2px 5px 2px rgb(19, 200, 176);
}
@media (min-width:500px){
    
    .container{

     justify-content:center;
     
}

}
@media(max-width:500px) {
    .container{
flex-direction:column;

    }
    img{
        width: 150px;
        height: 150px;
       
    }
    .box2
    {
        box-shadow:2px 20px 2px 5px rgb(19, 200, 176); 
    }
}
#line
{
    color: #eea909;
    text-shadow: 2px 5px 2px rgb(139, 168, 151);
}
#line2
{
    color: brown;
    text-shadow: 2px -5px 4px rgb(8, 26, 187);
}